@if (LineItem != null && LineItem.Product != null)
{
    <li class="row">
        <div class="col">
            <img src="@LineItem.Product.ImageLink" />
        </div>
        <div class="col">
            <h5>@LineItem.Product.Name</h5>
            <div>
                <b>Quantity:&nbsp;&nbsp;</b>
                <input type="number" min="0" value="@LineItem.Quantity" @onchange="HandleQuantityChange" />
            </div>
            <div>
                <b>Price:&nbsp;&nbsp;@LineItem.Product.Price.ToString("C")</b>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-light" style="background-color:darkred" @onclick="@(() => DeleteProduct(LineItem.ProductId))"><b>Delete</b></button>
        </div>
    </li>
}

@code {
    [Parameter]
    public OrderLineItem LineItem { get; set; }

    void HandleQuantityChange()
    {

    }

    void DeleteProduct(int productId)
    {
        
    }
}
