@page "/"
<div class="naslovi" style="text-align: center">
    <h3>Welcome to TDKRSports</h3>
    <br />
    <br />
    <h4>Our featured products</h4>
</div>
<div class="cards" style="display:flex; flex-wrap:wrap; align-items:center; justify-content:center;">
    <div class="card1" style="width: 24rem; border:solid 1px; margin:20px; padding:20px;">
      <img src="https://i.ibb.co/Yf9KWhY/0015918-a903-adidas-taekwondo-dobok-adiflex3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ADIDAS TAEKWONDO DOBOK ADIFLEX 3</h5>
        <p class="card-text">Proizveden od super laganog 100% poliester materijala.</p>
        <a href="/product/495" class="btn btn-primary">View product</a>
      </div>
    </div>

    <div class="card2" style="width: 24rem; border:solid 1px;  margin:20px; padding:20px;">
      <img src="https://i.ibb.co/108YzkV/0001150-22225-sportska-majica-taekwondo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SPORTSKA MAJICA TAEKWONDO</h5>
        <p class="card-text">Sportska majica za treninge i sparinge, 100% pamuk materijala.</p>
        <a href="/product/468" class="btn btn-primary">View product</a>
      </div>
    </div>

    <div class="card3" style="width: 24rem; border:solid 1px;  margin:20px; padding:20px;">
      <img src="https://i.ibb.co/WyRJ5Wr/0001234-a577-adidas-champion-pojas-1000.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ADIDAS MASTER POJAS</h5>
        <p class="card-text">Adidas Master pojas. Super majstorski pojas. Rank 280. Poliester/satin. Širina pojasa 4.5 cm.</p>
        <a href="/product/439" class="btn btn-primary">View product</a>
      </div>
    </div>
</div>
<div class="Shopcard" style="text-align:center">
    <a href="products" class="btn btn-info" style="height:40px;width:400px; text-align:center;">
        SHOP NOW
    </a>
</div>

@code {

}
