<footer class="text-center text-white fixed-bottom">

  <!-- Copyright -->
  <div class="text-center p-4 bg-dark">
    <b>© 2022 Copyright: TDKRSports</b>
  </div>
  <!-- Copyright -->
</footer>

@code {

}
