<section class="">
  <!-- Footer -->
  <footer class="text-center text-white fixed-bottom">
    <!-- Copyright -->
    <div class="text-muted text-center p-1" style="background-color: #212529; display:flex; justify-content:center; justify-items:center">
      <p class="text-white">© 2020 Copyright: TDKRSports
          <a class="btn btn-outline-light btn-rounded" href="admin">Admin Panel</a>
      </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

@code {

}
