<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a class="navbar-brand" href="">TDKRSports</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" href="products"><i class="bi bi-shop"></i> SHOP </a>
        </li>

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link" href="outstandingorders">Outstanding orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="processedorders">Processed orders</a>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item ml-auto">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/logout">
                        Sign Out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="cart">
                        <TDKRSports.Web.CustomerPortal.Controls.CartComponent></TDKRSports.Web.CustomerPortal.Controls.CartComponent>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {

}
