<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100" style="display:flex; justify-content:center; align-items:center;">
        <li class="nav-item">
            <a class="navbar-brand" href=""><img src="./Images/tdkrsportlogo.png" style="width:50px; height:50px;">TDKRSports</a>
            <a class="btn btn-danger" href="products"><i class="bi bi-shop"></i> SHOP </a>
        </li>


        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link" href="outstandingorders">Outstanding orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="processedorders">Processed orders</a>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item ml-auto">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/logout">
                        Sign Out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="cart">
                        <TDKRSports.Web.CustomerPortal.Controls.CartComponent></TDKRSports.Web.CustomerPortal.Controls.CartComponent>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {

}
