<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a class="navbar-brand" href="">TDKRSports</a>
        </li>
    </ul>
</div>

@code {

}
